.section-logo {
    width: 100%;
    height: 100vh;
    background: #FFFFFF;
    

    .container-fluid {
        padding-left: 0;
        margin: 0;

        .col-4 {
            position: relative;
        }

        .col-8 {
            padding-right: 0px;
        }

        section.login {
            padding: 32px;
            .logo {
                display: flex;
                img {
                    width: auto;
                    height: auto;
                    object-fit: contain;
                }
            }

            .form-login {
                margin-top: 60px;
                h1 {
                    font-weight: bold;
                    font-size: 24px;
                    color: #4A4A4A;
                    font-family: 'Roboto', sans-serif;
                }

                p {
                    font-weight: 300;
                    font-size: 9px;
                    color: #4A4A4A;
                    padding-bottom: 25px;
                    letter-spacing: 0.02em;
                    line-height: 150%;
                    width: 300px;
                }

                h5 {
                    font-size: 12px;
                    font-family: 'Roboto', sans-serif;
                    font-weight: bold;
                }
            }

            p.copyright {
                font-size: 9px;
                font-weight: 300;
                color: #4A4A4A;
                position: absolute;
                bottom: 0;
                right: 0;
                left: 0;
                padding-bottom: 16px;
            }
        }
    
        img.background {
            height: 100vh;
            width: 100%;
            object-fit: cover;
        }
    }
}