.form-group {
    position: relative;
    background: #FFFFFF;
    width: 100%;

    input.form-control {
        width: 100%;
        height: 40px;
        border-radius: 10px;
        margin-bottom: 20px;
        padding-left: 50px;
        font-size: 12px;
        font-weight: 400;
        color: #4A4A4A;
    }

    .icon {
        position: absolute;
        top: 9px;
        left: 15px;
        padding-right: 25px;
    }

    .icon-password {
        position: absolute;
        top: 9px;
        right: 15px;
        padding-left: 25px;
    }

    input.form-control:focus {
        box-shadow: none;
    }
}