body {
	font-family: 'Poppins', sans-serif;
	position: relative;

	.wrapper {
		background: #F9F9F9;

		.wrapper-content {
			display: flex;
			.content {
				background: #FFFFFF;
				width: 100%;
				padding: 25px 20px 10px 20px;

				h1, h2, h3, h4, h5, h6, p {
				color: #4A4A4A;
				}
			}
		}
  	}

	.sidebar .wrapper-content {
		border-left: 80px solid transparent;
	}

	.rs-message-info {
		background: linear-gradient(180deg, #6AA6FF -61.54%, #2736C1 162.5%);

		.rs-message-icon-wrapper > .rs-icon, .rs-message-info .rs-message-btn-close {
			color: #FFFFFF;
		}

		.rs-message-body {
			p {
				color: #FFFFFF;
			}

			a {
				color: #FFFFFF;
				text-decoration: underline;
			}
		}
	}
}



@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
