button {
    width: 116px;
    min-height: 40px;
}

button.btn {
    border-radius: 10px;
    margin-bottom: 30px;
    background: linear-gradient(180deg, #6AA6FF -61.54%, #2736C1 162.5%);
}

button.btn:focus {
    box-shadow: none;
}