textarea.form-control {
    font-size: 12px;
}

.produk-invest {
    h6 {
        font-family: 'Roboto', sans-serif;
        color: #4A4A4A;
        font-size: 16px;
        font-weight: 500;
    }

    .list-invest {
        h6 {
            padding-bottom: 32px;
        }
    }
}