h6 {
    font-weight: 500;
    font-size: 16px;
}

.dashboard {
    h6 {
        font-family: 'Roboto', sans-serif;
        color: #4A4A4A;
        font-size: 16px;
        font-weight: 500;
    }

    section.pengajuan-baru,
    section.jumlah-pengajuan,
    section.total-pengajuan,
    section.total-pengguna {
        margin-top: 40px;
    }

    section.jumlah-pengajuan,
    section.jumlah-pengajuan,
    section.total-pengajuan,
    section.total-pengguna {
        h6 {
            padding-bottom: 40px;
        }
    }
}