.modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    outline: none;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 999999;

    .modal-background {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.85);
    }

    .modal-body {
        position: relative;
        width: 701px;
        min-height: 483px;
        margin-top: 8rem;
        margin-bottom: 8rem;
        margin-left: auto;
        margin-right: auto;
        max-width: 48rem;
        border-radius: 10px;
        background-color: white;

        .close-modal {
            position: absolute;
            right: -80px;
            top: -2.5rem;
            cursor: pointer;
        }
    }
}