nav {
    box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.05);
    .logo {
        display: flex;
        padding-top: 10px;
        img {
            width: auto;
            height: auto;
        }
    }

    .navbar-nav {
        .nav-item {
            padding-left: 20px;
            img.profile-img {
                width: 24px;
                height: 24px;
                border-radius: 100%;
                object-fit: cover;
            }
        }
    }
}