.sidebar {
    width: 260px;
    min-height: 100vh;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    flex: 260px 0 0;
    background: #FFFFFF;
    border-right: 1px solid #DADADA;

    .menu-item-active {
        border-left: 2px solid #5683EC;
    }

    .menu-item,
    .menu-item-active {
        margin: 15px 0px 0px 0px;
    }

    .menu-item a:hover,
    .menu-item-active > .item > a:hover,
    .menu-item-active > .item > a:focus {
        text-decoration: none;
    }

    .menu-item-active,
    .menu-item-active > .item > a {
        background-color: #FFFFFF;
        color: #5683EC;
        font-family: 'Roboto', sans-serif;
    }

    .menu-item > .item,
    .menu-item-active > .item {
        display: flex;
        padding: 10px 18px 10px 10px;
    }

    .menu-item > .item > .icon,
    .menu-item-active > .item > .icon {
        margin-right: 22px;
    }

    .menu-item > .item > a {
        color: #C4C4C4;
        font-family: 'Roboto', sans-serif;
    }

    .menu-bottom {
        position: absolute;
        bottom: 0;
    }
}

.sidebar::-webkit-scrollbar {
    width: 0;
    height: 0;
}