.banner {
    h6 {
        font-family: 'Roboto', sans-serif;
        color: #4A4A4A;
        font-size: 16px;
        font-weight: 500;
        padding-bottom: 16px;
    }

    .catatan {
        width: 100%;
        height: 37px;
        background: #FFF7E7;
        border-radius: 8px;
        padding: 10px;

        h6, span {
            font-family: 'Roboto', sans-serif;
        }

        h6 {
            font-size: 11px;
            font-weight: 300;
            color: #4A4A4A;
        }

        span {
            font-weight: bold;
        }
    }

    .list-banner {
        h6 {
            padding-bottom: 32px;
        }
    }

    .image-container {
        display: flex;
        justify-content: center;
        align-items: center;

        .image-banner {
            width: 100%;
            height: 270px;
            border: 0.2px solid #000000;
            border-radius: 8px;
        }
    }

    .upload-border-dashed {
        width: 120px;
        height: 120px;
        background: #F9F9F9;
        border: 0.5px dashed #818181;
        border-radius: 8px;
        margin-bottom: 32px;
        position: relative;
        cursor: pointer;

        .form-control-file {
            width: 100%;
            cursor: pointer;
            height: 120px;
            opacity: 0;
        }

        .upload-banner-text {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            position: absolute;
            top: 20%;
            left: 0;
            right: 0;

            span {
                font-size: 10px;
                color: #6AA6FF;
                font-weight: bold;
            }
        }

        .close-modal {
            position: absolute;
            right: 0px;
            top: 0px;
            cursor: pointer;
        }

        img.upload-banner-preview {
            width: 290px;
            height: 120px;
            position: absolute;
            top: 0;
            left: 0;
            object-fit: cover;
            border-radius: 8px;
            border: 0.5px dashed #818181;
        }
    }

    .upload-preview {
        width: 290px;
        height: 120px;
        border: none;
    }
}