.pengajuan-chart,
.total-pengajuan-chart,
.total-pengguna-chart {
    margin-top: 36px;
    border: 0.2px solid #DADADA;
    border-radius: 9px;
}

.total-pengajuan-chart,
.total-pengguna-chart {
    margin-top: 24px;
}

.apexcharts-toolbar {
    display: none;
}