tr {
    border-top: none;
    border-bottom: none;

    td {
        border-right: none;
        border-left: none;

        .status {
            width: 85px;
            height: 24px;
            border-radius: 18px;
            text-align: center;
        }

        .status-subs {
            color: #FF8E25;
            border: 0.5px solid #FF8E25;
            background: #FFF9F3;
        }

        .status-forward {
            color: #6AA6FF;
            border: 0.5px solid #6AA6FF;
            background: #F2F7FF;
        }

        .status-approve {
            color: #00BD1E;
            border: 0.5px solid #00BD1E;
            background: #EBFFEE;
        }

        .status-reject {
            color: #B6B6B6;
            border: 0.5px solid #B6B6B6;
            background: #F1F1F1;
        }
    }
}

.nav-pills {
    border-bottom: .3px solid #DADADA;

    .nav-item {
        .nav-link {
            color: #4A4A4A;
            font-size: 12px;
            font-family: 'Roboto', sans-serif;
        }

        .nav-link:hover {
            text-decoration: none;
        }
    }
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: white;
    border-bottom: 4px solid #6AA6FF;
    color: #6AA6FF;
}