.nav-pills {
    border-bottom: .3px solid #DADADA;

    .nav-item {
        .nav-link {
            color: #C4C4C4;
            font-size: 12px;
            font-family: 'Roboto', sans-serif;
        }

        .nav-link:hover {
            text-decoration: none;
        }
    }
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: white;
    border-bottom: 4px solid #4A4A4A;
    color: #4A4A4A;
}

h6.detail-nasabah {
    font-family: 'Roboto', sans-serif;
        color: #4A4A4A;
        font-size: 16px;
        font-weight: 500;
        padding-bottom: 32px;
}

h6 {
    font-weight: 500;
    font-size: 16px;
}

tr {
    border-top: none;
    border-bottom: none;

    td {
        border-right: none;
        border-left: none;

        .status {
            width: 85px;
            height: 24px;
            border-radius: 18px;
            text-align: center;
        }

        .status-subs {
            color: #FF8E25;
            border: 0.5px solid #FF8E25;
            background: #FFF9F3;
        }

        .status-forward {
            color: #6AA6FF;
            border: 0.5px solid #6AA6FF;
            background: #F2F7FF;
        }

        .status-approve {
            color: #00BD1E;
            border: 0.5px solid #00BD1E;
            background: #EBFFEE;
        }

        .status-reject {
            color: #B6B6B6;
            border: 0.5px solid #B6B6B6;
            background: #F1F1F1;
        }
    }
}

.rs-btn-default {
    background: white;
    color: #4A4A4A;
    border: 0.5px solid #D1D1D2;
}

.rs-pagination > li.rs-pagination-btn-active > a {
    background-color: #6AA6FF;
    color: white;
    border-radius: 50%;
}

.row {
    padding: 20px;

    .col {
        padding: 10px;
    }
}

.catatan {
    width: 100%;
    height: 64px;
    background: #FFF7E7;
    border-radius: 8px;
    padding: 10px;
}

.section-pemasukan {
    width: 100%;
    min-height: 556px;
    border-radius: 15px;
    background: #FFFFFF;
    box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.04);
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 18px;
    margin-bottom: 30px;
    margin-top: 30px;
    border: 0.5px solid #D1D1D2;
    display: flex;
    flex-direction: column;

    img {
        object-fit: contain;
        width: 220px;
        height: 220px;
        margin: 20px auto;
    }

    h1, p {
        color: #4A4A4A;
    }

    h2 {
        color: #5683EC;
        padding-top: 10px;
        padding-bottom: 20px;
    }

    h1, h2 {
        font-weight: bold;
        font-size: 14px;
    }

    p {
        font-weight: 400;
        font-size: 11px;
    }

    .box-salary,
    .box-auto {
        width: 17px;
        height: 17px;
        border-radius: 5px;
        margin-right: 10px;
    }

    .salary-credit {
        margin-bottom: 10px;
        display: flex;

        .box-salary {
            background: linear-gradient(180deg, #6AA6FF -61.54%, #2736C1 162.5%);
        }
    }

    .auto-payroll {
        display: flex;
        margin-bottom: 20px;

        .box-auto {
            background: linear-gradient(201.25deg, #FFC225 -15.13%, #FF9D07 97.24%);
        }
    }

    .rata-rata {
        width: 100%;
        min-height: 66px;
        border-radius: 9px;
        background: #F4F4F5;

        p {
            padding: 15px 0px 0px 15px;
        }

        h1 {
            padding-left: 15px;
        }
    }

    .doughnut-chart {
        margin-top: 32px;
        margin-bottom: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.section-pengeluaran {
    width: 100%;
    min-height: 556px;
    border-radius: 15px;
    background: #FFFFFF;
    box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.04);
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 18px;
    border: 0.5px solid #D1D1D2;
    display: flex;
    flex-direction: column;
    margin-top: 30px;

    img {
        object-fit: cover;
        width: 220px;
        height: 220px;
        margin-bottom: 30px;
        margin-top: 30px;
        margin: 20px auto;
    }

    h1, p {
        color: #4A4A4A;
    }

    h2 {
        color: #5683EC;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    h1, h2 {
        font-weight: bold;
        font-size: 14px;
    }

    p {
        font-weight: 400;
        font-size: 11px;
    }

    .box-kost,
    .box-hallo,
    .box-pln,
    .box-netflix,
    .box-atm,
    .box-gopay {
        width: 17px;
        height: 17px;
        border-radius: 5px;
        margin-right: 10px;
    }

    .kost {
        margin-bottom: 10px;
        display: flex;

        .box-kost {
            background: linear-gradient(180deg, #6AA6FF -61.54%, #2736C1 162.5%);
        }
    }

    .hallo {
        display: flex;
        margin-bottom: 10px;

        .box-hallo {
            background: #A11C20;
        }
    }

    .pln {
        display: flex;
        margin-bottom: 10px;

        .box-pln {
            background: linear-gradient(201.25deg, #FFC225 -15.13%, #FF9D07 97.24%);
        }
    }

    .netflix {
        display: flex;
        margin-bottom: 10px;

        .box-netflix {
            background: #389F5B;
        }
    }

    .atm {
        display: flex;
        margin-bottom: 10px;

        .box-atm {
            background: #246960;
        }
    }

    .gopay {
        display: flex;
        margin-bottom: 10px;

        .box-gopay {
            background: #DDDDDD;
        }
    }

    .rata-rata {
        width: 100%;
        min-height: 66px;
        border-radius: 9px;
        background: #F4F4F5;

        p {
            padding: 15px 0px 0px 15px;
        }

        h1 {
            padding-left: 15px;
        }
    }

    .doughnut-chart {
        margin-top: 32px;
        margin-bottom: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.total-investasi,
.total-pendapatan {
    min-width: 305px;
    min-height: 100px;
    background-color: #FFFFFF;
    border-radius: 10px;
    border: 0.5px solid #D1D1D2;
    padding: 20px;
    margin-right: 30px;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: #6AA6FF !important;
}

.nav-tabs .nav-link,
.nav-tabs .nav-link:hover {
    color: #4A4A4A;
    font-size: 12px;
    font-weight: 400;
}