h6 {
    font-weight: 500;
    font-size: 16px;
}

tr {
    border-top: none;
    border-bottom: none;

    td {
        border-right: none;
        border-left: none;

        .status {
            width: 85px;
            height: 24px;
            border-radius: 18px;
            text-align: center;
        }

        .status-subs {
            color: #FF8E25;
            border: 0.5px solid #FF8E25;
            background: #FFF9F3;
        }

        .status-forward {
            color: #6AA6FF;
            border: 0.5px solid #6AA6FF;
            background: #F2F7FF;
        }

        .status-approve {
            color: #00BD1E;
            border: 0.5px solid #00BD1E;
            background: #EBFFEE;
        }

        .status-reject {
            color: #B6B6B6;
            border: 0.5px solid #B6B6B6;
            background: #F1F1F1;
        }
    }
}

.rs-btn-default {
    background: white;
    color: #4A4A4A;
    border: 0.5px solid #D1D1D2;
}

.rs-pagination > li.rs-pagination-btn-active > a {
    background-color: #6AA6FF;
    color: white;
    border-radius: 50%;
}

.pengajuan {
    h6 {
        font-family: 'Roboto', sans-serif;
        color: #4A4A4A;
        font-size: 16px;
        font-weight: 500;
    }
}