.data {
    width: 148px;
    height: 100px;
    border: 0.5px solid #D1D1D2;
    border-radius: 10px;
    margin-right: 20px;
    padding-left: 20px;
    cursor: pointer;
    margin-top: 20px;

    p {
        padding-top: 13px;
        font-size: 12px;
        font-family: 'Roboto', sans-serif;
    }

    h1 {
        font-size: 36px;
        font-weight: bold;
        font-family: 'Roboto', sans-serif;
    }
}

.active-data {
    border: 0.5px solid #6AA6FF;
    box-shadow: 0px 0px 10px rgba(106, 166, 255, 0.64);
    background: #EDF4FF;
}